<nav>
  <div class="navbar">
    <div class="logo">
      <a class="navbar-brand mx-auto" href="#">
        <img src="logo1.png" alt="">
      </a>
    </div>
    <ul class="menu">
       <li><a href="#">Home</a></li>
       <li><a href="#">Latest</a></li>
       <li><a href="#">Category</a></li>
        <li><a href="#">Services</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
     <div class="search-box">
       <input type="text" placeholder="Search here...">
       <a href="#"><i class="fas fa-search"></i></a>
     </div>
  </div>
</nav>  
